#container_test {
    background-image: url(../images/bg_test.png);
    background-size: 100% 100%;
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
#step1 .header_test {
    padding-bottom: 0;
}
.header_test {
    font-size: 4.8rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 5rem 0;
}
#step1 .box_test{
    padding-top: 4rem;
    padding-bottom: 0;
}
.box_test{
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.box_test .container {
    background: #FFFFFF;
    box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    position: relative;
    /* height: 90vh; */
}
#step1 .box_test .container {
    height: auto;
}

#step1 .sticker_header {
    width: 33rem;
}
.sticker_header {
    position: absolute;
    width: auto;
    font-size: 3rem;
    padding: 0 5rem;
    height: 8rem;
    left: 50%;
    transform: translateX(-50%);
    top: 0rem;
    background: #85B3F1;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    word-break: unset;
    justify-content: center;
    line-break: strict;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content_test{
    padding: 10rem;
    padding-top: 14rem;
    padding-bottom: 4rem;
    font-family: "Roboto", sans-serif;
    position: relative;
}
.content_test .img_st1{
    width: 100%;
}
.content_r_st1{
    text-align: left;
    font-family: "Roboto", sans-serif;
}
.content_r_st1 p{
    font-size: 3rem;
}
.content_r_st1 h1{
    font-size: 4.8rem;
    font-weight: bold;
    font-family: iCielPanton;
    margin-bottom: 4rem;
}
.content_r_st1 h2{
    font-size: 3rem;
    font-weight: 500;
}
.content_r_st1 h3{
    color: #85B3F1;
    font-size: 3rem;
    margin-top: 3rem;
}
.box_btn_test{
    padding-bottom: 5rem;
}
.box_btn_test a{
    width: 40rem;
    height: 8rem;
    background: #FFB400;
    box-shadow: 0px 8px 1px #ff9600;
    border-radius: 6rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-decoration: inherit;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* step2 */

#step2 .content_test{
    padding-top: 10rem;
}
.box_time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timeline{
    width: 70%;
    background: #cccc;
    height: 1rem;
    border-radius: 5rem;
    position: relative;
}
.timeline::before{
    content: '';
    background-color: #FFB400;
    width: 30%;
    height: 100%;
    border-radius: 5rem;
    position: absolute;
    left: 0;
}
.text_time{
    font-size: 2.8rem;
    font-weight: 500;
}
.box_question{
    text-align: left;


}
.header_question{
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-weight: 500;
    font-size: 3.2rem;
}
.box_answer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
}
.question{
    margin-bottom: 3rem;
    font-weight: normal;
    font-size: 3rem;
}
.item_answer {
    width: 48%;
    border: 1px solid;
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
}
.item_answer.active, .item_answer:hover{
    background-color: #85B3F1;
    color: #fff;
    cursor: pointer;
}

.item_answer.active .cycle_answer{
    background: #fff;
    border-color: #fff;
    background-image: url(../images/tick.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.item_answer:hover .cycle_answer{
    /* background: #fff; */
    border-color: #fff;

}
.cycle_answer {
    width: 5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 2px solid #C4C4C4;
    margin-right: 1.5rem;
}
/* step3 */
.box_wirte{
    text-align: left;
}
.header_wirte{
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.write_1, .write_2 , .write_3{
    font-size: 3rem;
    text-align: left;
    margin-top: 3rem;
}
.write_1 textarea, .write_2 textarea, .write_3 textarea{
    width: 100%;
    height: 20rem;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 8px;
    color: #B2B2B2;
    padding-left: 2rem;
    margin-top: 2rem;
}
.header_wirte img{
    margin-right: 0.5rem;
    width: 4.3rem;
    height: 4.3rem;
}
.box_btn_back a{
    font-weight: bold;
    font-size: 3.4rem;
    text-align: center;
    color: #FFB400;
    text-decoration: inherit;
}
/* step 4 */
#step4 .header_test {
    padding-bottom: 0;
}
#step4 .box_test {
    padding-top: 5rem;
}
#step4 .content_test {
    padding: 4rem;
    padding-top: 4rem;
    padding-bottom: 15rem;
    font-family: "Roboto", sans-serif;
}
.confirm_info_member, .confirm_info_team{
    font-size: 3.2rem;
    font-family: "Roboto", sans-serif;
    text-align: left;
    width: 60%;

}
.confirm_info_member .form-control , .confirm_info_team .form-control{
    font-size: 2.5rem;
    font-weight: normal;
    background: #FFFFFF;
    border: 1.2298px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 9.8384px;
    margin-bottom: 3rem;
    margin-top: 1rem;
    text-indent: 1.5rem;
    padding: 0.9rem;
}
.confirm_info_member small, .confirm_info_team small{
    color: #B2B2B2 !important;
}
.confirm_info_member .form-check-input[type=checkbox], [type=radio] , confirm_info_team .confirm_info_member .form-check-input[type=checkbox], [type=radio]{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin-right: 10px;
}
.checkbox .custom-control {
    display: flex;
    align-items: center;
}
.checkbox {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    width: 50%;
}
.confirm_info_member span, .confirm_info_team span {
    color: #F50B0B;
    margin-left: 0.5rem;
}
.submit_form_register{
    font-size: 3rem;
    font-weight: 600;
    background: #fff;
    padding: 1.1rem 0rem;
    display: block;
    border-radius: 5rem;
    border: 1px solid #fff;
    color: #FFB400;
    border: 1px solid #FFB400;
    width: 40rem;
    height: 8rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem;
}
/* form team */
.confirm_info_team{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    text-align: left;
}
.form_team_left, .form_team_right{
    width: 45%;
}
/* step 5 */
#step5 .box_test .container {
    background:url(../images/bg-finish.png);
    /* height: 90vh; */
    background-size: 100% 100%;
}
.finish_test{
    padding: 20rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding-bottom: 10rem;
}
.finish_test h1{
    font-weight: bold;
    font-size: 4.8rem;
    font-family: iCielPanton;
    text-align: center;
    color: #56AFFF;
    margin-bottom: 4rem;
}
.finish_test h2{
    font-size: 2.9rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    line-height: 1.7;
}
.finish_test h2 span{
    color: #F50B0B;
}
.finish_test hr{
    margin: 2rem 0;
}
.finish_test p{
    font-size: 2.8rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
    line-height: 1.7;
}
.finish_test p span{
    font-weight: bold;
}